.news-item-wrapper {
  border: 2px solid black;
  margin-top: 5px;

  .news-item-header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    cursor: pointer;
    align-items: center;
  }

  .active {
    background: #a6c4e2;
    border-bottom: 2px solid black;
  }

  .short-text {
    padding: 10px;
    overflow: hidden;
    transform: translateZ(0);
    will-change: height;

    a {
      color: #2c70b3;
    }
  }
}
